[user]
	name = michaelmass
	email = 10071388+michaelmass@users.noreply.github.com
[core]
	editor = code --wait
	autocrlf = input
	eol = lf
[push]
	autoSetupRemote = true
[branch "master"]
	pushRemote = no_push
[branch "main"]
	pushRemote = no_push
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = false
[credential "helperselector"]
	selected = <no helper>
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
